In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder

In [5]:
data = pd.read_csv("hotel_bookings.csv")

In [6]:
data.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
83496,City Hotel,0,2,2016,February,6,1,1,3,2,...,No Deposit,9.0,NaN,0,Transient,93.0,0,2,Check-Out,2016-02-05
26125,Resort Hotel,0,173,2016,July,29,12,2,9,2,...,No Deposit,143.0,NaN,0,Transient,90.1,0,1,Check-Out,2016-07-23
52772,City Hotel,1,69,2016,June,25,12,2,4,1,...,Non Refund,236.0,NaN,0,Transient,120.0,0,0,Canceled,2016-05-04
13896,Resort Hotel,0,2,2015,November,45,5,0,1,1,...,No Deposit,NaN,81.0,0,Transient,46.0,1,2,Check-Out,2015-11-06
30270,Resort Hotel,0,19,2016,November,47,15,0,3,2,...,No Deposit,8.0,NaN,0,Transient,30.6,0,1,Check-Out,2016-11-18
64928,City Hotel,1,56,2017,March,12,21,0,3,2,...,Non Refund,86.0,NaN,0,Transient,85.0,0,0,Canceled,2017-01-24
8225,Resort Hotel,1,6,2016,September,39,19,1,0,1,...,No Deposit,NaN,34.0,0,Transient,59.0,0,0,Canceled,2016-09-13
119124,City Hotel,0,0,2017,August,35,29,0,1,1,...,No Deposit,NaN,72.0,0,Transient,0.0,0,2,Check-Out,2017-08-30
93664,City Hotel,0,104,2016,July,30,21,1,3,2,...,No Deposit,9.0,NaN,0,Transient,123.3,0,2,Check-Out,2016-07-25
2712,Resort Hotel,0,0,2015,October,44,27,0,2,2,...,No Deposit,240.0,NaN,0,Transient,58.0,0,2,Check-Out,2015-10-29

In [7]:
data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [8]:
data.drop("company",axis=1,inplace=True)

In [9]:
data.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
si = SimpleImputer(strategy="most_frequent")

In [12]:
imputed_data = si.fit_transform(data)

In [13]:
type(imputed_data[1][1])

int

In [14]:
list(data.columns)

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

In [15]:
df = pd.DataFrame(imputed_data,)

In [16]:
original_data = list(data.columns)

In [17]:
for index,col in enumerate(df.columns):
    df.rename({col:original_data[index]},axis="columns",inplace=True)

In [18]:
numerical = list()
categorial = list()
for col in df.columns:
    if df[col].dtype == "O":
        categorial.append(col)
    else:
        numerical.append(col)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119390 non-null  object
 3   arrival_date_year               119390 non-null  object
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  object
 6   arrival_date_day_of_month       119390 non-null  object
 7   stays_in_weekend_nights         119390 non-null  object
 8   stays_in_week_nights            119390 non-null  object
 9   adults                          119390 non-null  object
 10  children                        119390 non-null  object
 11  babies                          119390 non-null  object
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  object
 17  previous_cancellations          119390 non-null  object
 18  previous_bookings_not_canceled  119390 non-null  object
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  object
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  object
 24  days_in_waiting_list            119390 non-null  object
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  object
 27  required_car_parking_spaces     119390 non-null  object
 28  total_of_special_requests       119390 non-null  object
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: object(31)
memory usage: 28.2+ MB

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119390 non-null  object
 3   arrival_date_year               119390 non-null  object
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  object
 6   arrival_date_day_of_month       119390 non-null  object
 7   stays_in_weekend_nights         119390 non-null  object
 8   stays_in_week_nights            119390 non-null  object
 9   adults                          119390 non-null  object
 10  children                        119390 non-null  object
 11  babies                          119390 non-null  object
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  object
 17  previous_cancellations          119390 non-null  object
 18  previous_bookings_not_canceled  119390 non-null  object
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  object
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  object
 24  days_in_waiting_list            119390 non-null  object
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  object
 27  required_car_parking_spaces     119390 non-null  object
 28  total_of_special_requests       119390 non-null  object
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: object(31)
memory usage: 28.2+ MB

In [21]:
categorial

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

In [22]:
minmaxscale = MinMaxScaler()

In [23]:
df.head(7)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,9.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,No Deposit,9.0,0,Transient,107.0,0,0,Check-Out,2015-07-03

In [24]:
for num in numerical:
    df[num] = minmaxscale.fit_transform(df[num])

In [25]:
df.head(7)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,9.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,No Deposit,9.0,0,Transient,107.0,0,0,Check-Out,2015-07-03